.user-container {
  display: flex !important;
  align-items: center;
  min-height: 85px;
  padding: 10px 25px;
  column-count: 3;
  border-top: 1px solid rgb(50, 64, 80);
  transition: 0.3s;
}
.user-container:hover {
  box-shadow: 0 0 25px 0 rgba(190, 150, 255, 0.096);
}

.user-info-container {
  order: 5;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding-left: 20px;
}

.profile-image {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.user-info-text {
  font-size: 1.4em;
}

.user-info-sub-text {
  font-size: 1.1em;
}

.location-container {
  order: 20;
  display: flex;
  flex-direction: column;
  text-align: end;
}


.profile-image-container {
  order: 1;
}

.actions-container{
  order: 30;
  display: flex;
  flex-direction: column;
  text-align: end;
}
.actions-container button{
  background: none;
  border: none;
  cursor: pointer;
}

.lnr {
  font-size: 1.7rem;
  margin: 10px 0 10px 25px;
}

.svg-inline--fa {
  font-size: 1.7rem;
}


.lnr-trash{
  color: red;
}

.lnr-pencil {
  color: cyan;
}