.new-user-form-container {
  display: flex;
  align-items: center;
  min-height: 85px;
  padding: 10px 25px;
  column-count: 3;
  border-bottom: 1px solid rgb(50, 64, 80);
  transition: 0.3s;
}
.new-user-form-container:hover {
  box-shadow: 0 0 25px 0 rgba(190, 150, 255, 0.096);
}

.new-user-input {
  padding: 15px 0;
  margin: 10px 12.5%;
  width: 75%;
  font-size: 1.2rem;
  text-align: center;
  background: #2f3d44;
  border: #425761 1px solid;
  border-radius: 5px;
  color: #79848a;
}

.new-user-select-input  {
  margin: 10px auto;
  padding: 15px -10px;
  width: 75%;
  font-size: 1.2rem;
  text-align: center;
}
.new-user-select-input div div div  {
  background: #2f3d44 !important;
  color:#546067 !important;
}
.new-user-select-input div div div div {
  color: white !important;
}
.new-user-select-input div div div div:hover {
  background: rgb(19, 36, 58) !important;
}

.css-va7pk8 {
  color: white !important;
}

.css-1aya2g8 {
  background: #2f3d44 !important;
  border: #425761 1px solid !important;
  border-radius: 5px !important;
  color: black !important;
}

.css-10nd86i {
  background: #2f3d44 !important;
  border: #425761 1px solid !important;
  border-radius: 5px !important;
  color: black !important;
}

.css-2o5izw {
  background: #2f3d44 !important;
  border: #425761 1px solid !important;
  border-radius: 5px !important;
  color: black !important;
}

.new-user-button {
  margin: 10px 25%;
  padding: 15px;
  min-width: 50%; 
  background-color: #26772d;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.new-user-button:disabled {
  background-color: #4d5f4f;
}
