.main-container {
  min-width: 500px;
  width: 30%;
  background-color: rgb(34, 44, 56);
  color: white;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.main-container:hover {
  box-shadow: 0 10px 25px 0 rgba(0,0,0,0.2);
}

.action-buttons {
  text-align: center !important;
  min-height: 20px;
}

.action-buttons button {
  background-color: #2f3d44;
  color: #b9c3c8;
  border: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
  transition: 0.3s;
}

.action-buttons button:hover {
  background-color: #475359;
  color: #e4f3fa;
  border: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
  transition: 0.3s;
}
