 .Modal {
  position: absolute;
  top: 100px;
  left: 40px;
  right: 40px;
  bottom: auto;
  min-width: 430px;
  width: 20%;
  background-color: rgb(34, 44, 56);
  color: white;
  border: 1px rgb(109, 109, 109) solid;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 6px 10px 0 rgba(68, 62, 62, 0.2);
  border-radius: 5px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75)
}

.w-100 {
  width: 100% !important;
}

.ReactModal__Content {
  opacity: 0;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: opacity 100ms;
}

.ReactModal__Content--before-close {
  opacity: 0;
}

.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}