.App {
  text-align: center;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
}

.loader-animation {
  top: 40%;
}
.fadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
  opacity:1;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.App-header {
  background-color: rgb(19, 36, 58);
  padding: 20px;
  color: white;
}

.error-container {
  border: 1px red solid;
  border-radius: 5px;
  background: rgba(255, 0, 0, 0.507);
  color: #fff;
  padding: 10px;
  margin: 40px; 
}